:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --link-color: #2196f3;
  --primary-button-color: #2196f3;
  --secondary-button-color: #ffffff;
  --sectoin-color: #ffffff;
  --secondary-cection-color: #2f303a;
}
  
ul {
  list-style: none;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* heder */
.span-header {
  color: var(--link-color);
}

.span-logo {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.section .section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.contact .link {
  color: #2196f3;
}
.contact-list .linc,
.contact-list .tel {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .linc {
  color: #212121;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .linc:hover,
.site-nav .linc:focus,
.contact-list .linc:hover,
.contact-list .tel:hover {
  color: var(--link-color);
}
.site-nav .linc.current {
  color: var(--link-color);
  text-decoration: none;
}
/* герой */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.accent {
  background-color: #2f303a;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}

.section .accent {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
}

.section .name-title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.btn {
  background-color: var(--primary-button-color);
  color: var(--secondary-button-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.btn:hover {
  zoom: 110%;
}

/* преимущества */
.advantages .advantages-title {
  color: #212121;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.section-team {
  background-color: #f5f4fa;
}
.section-team .section-title {
  text-align: center;
}
.name-text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
/* подвал */

.footer {
  background-color: #2f303a;
  color: #ffffff;
}
.footer-logo {
  color: var(--link-color);
}
.span-footer {
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.adress {
  font-style: normal;
}

.adress .adress-footer,
.adress .tel-footer {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.adress .adress-footer:hover,
.adress .tel-footer:hover {
  color: #ffffff;
}

/* СТИЛИ ДЛЯ СТРАНИЦЫ ПОРТФОЛИО */

/* основной цвет текста <p> #757575 */
/* вторичный цвет текста <h> #212121 */
/* цвет ссылок и кнопок #2196F3*/
/* цвет адреса в хедер #FFFFFF  60 % */
/* первичный цвет фона #FFFFFF */
/*  вторичный цвет фона  #F5F4FA; */
:root {
  --button-background-color: #f5f4fa;
  --button-background-hover: #2196f3;
  --title-text-color: #212121;
  --linc-title-color: #212121;
  --linc-subtitle-color: #757575;
}

.button {
  background-color: var(--button-background-color);
  color: var(--title-text-color);
  font-family: inherit;
}

.button:hover {
  background-color: var(--button-background-hover);
  color: #ffffff;
}
.button:active {
  background-color: var(--button-background-hover);
}

.linc-title {
  color: var(--linc-title-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.linc-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--linc-subtitle-color);
}
.linc {
  text-decoration: none;
}
